@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import 'shared/header', 'shared/footer', 'shared/secondary-header';

@import 'material/header-category-menu';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px
}
