<section class="secondary-header">
  <div class="secondary-header-category">
    <app-category>
      <div trigger class="trigger">
        <span>products</span>
        <mat-icon>expand_more</mat-icon>
      </div>
      <div content>
        TTTT

      </div>
    </app-category>
  </div>
  <div class="secondary-header-search">
    <input type="text" placeholder="Search for anything">
    <mat-icon class="search-icon">search</mat-icon>
  </div>
  <div class="secondary-header-country">
    country
  </div>
</section>
